################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj/Debug
/bin
/node_modules/
/.rpt2_cache/
